POSTGRES_USER=banking_admin
POSTGRES_PASSWORD=banking_password
POSTGRES_DB=banking_source
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

AIRFLOW_DB_NAME=airflow_meta

MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password

AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin_password
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_SECRET_KEY=salam_sagol_123456789
DOCKER_GID=999
